<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterMainController</filter-name>
        <filter-class>filters.FilterMainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterMainController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>AdminListServlet</servlet-name>
        <servlet-class>Servlet.AdminListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>Servlet.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeListServlet</servlet-name>
        <servlet-class>Servlet.EmployeeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <servlet-class>Servlet.AdminUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLoadListServlet</servlet-name>
        <servlet-class>Servlet.EmployeeLoadListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeEditServlet</servlet-name>
        <servlet-class>Servlet.EmployeeEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDeleteServlet</servlet-name>
        <servlet-class>Servlet.EmployeeDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>Servlet.AdminDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminListServlet</servlet-name>
        <url-pattern>/AdminListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeListServlet</servlet-name>
        <url-pattern>/EmployeeListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateServlet</servlet-name>
        <url-pattern>/AdminUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/AdminDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLoadListServlet</servlet-name>
        <url-pattern>/EmployeeLoadListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeEditServlet</servlet-name>
        <url-pattern>/EmployeeEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDeleteServlet</servlet-name>
        <url-pattern>/EmployeeDeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            DispatchServlet
        </welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBContext</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
